* {
    padding: 0;
    margin-top: 2%;
}

#titulo {
    margin-left: 7.9%;
    font-family: sans-serif;
    font-weight: bold;
    
}

body {
    background-color: rgba(205, 255, 250, 0.225);
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    margin-left: 30%;
    margin-top: 2%;

}
